.form_phone_number_wrapper {
  width: 100%;
  &_inner {
    position: relative;
    margin: 1rem auto;
    width: 70%;

    .form_select {
      margin-bottom: 10px;
      border-radius: 6px;
      width: 100%;
      padding: 5px;
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .btn_delete, .btn_search  {
        border-radius: .25rem;
        padding: .395rem .85rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #fff;
        border: none;
        cursor: pointer;
      }

      .btn_delete:hover, .btn_search:hover {
        opacity: 0.8;
      }
    }

    .btn-warning {
      color: #212529;
      background-color: #fff;
      border-color: none;
    }

    .history {
      margin: 15px 0;
      .search_text {
        margin: 10px;
        font-weight: bold;
        font-size: 16px;
        line-height: 14px;
        color: #4b4b4b;
      }

      .result {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .icon_search {
          color: #8C8C8C
        }
        .result_text {
          margin: 0px 0 4px 10px;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
