.hodaceNetwork__logo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    a {
        text-align: center;
        span {
            color: #000000;
            text-transform: uppercase;
            letter-spacing: 10px;
            font-weight: 900;
            font-size: 25px;
        }
        p {
            display: inline-block;
            text-transform: uppercase;
            font-size: 24px;
            letter-spacing: 10px;
            color: #FFFFFF;
            padding: 10px;
            background-color: #1086C9;
            font-weight: 900;
        }
    }
}
.hodaceNetwork__slogan {
    display: flex;
    justify-content: center;
    line-height: 14px;
    p{
        font-size: 16px;
    }
}