@import "@/styles/variables";

.dropdown-list-location {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    padding-left: -7px;
    margin-left: 30%;
    max-width: 37%;
    button {
        font-size: 14px;
        background: none !important;
        color: $text-color;
        border: 1px solid #8c8c8c69;
    }
    .dropdown {
        position: relative;
        width: 33%;
    }
    #dropdown-basic-button {
        position: relative;
        width: 135%;
    }
}


