$main: #1086C9;
$background-header: #fff;
$background-footer: #888;
$background_primary_white: #fff;
$primary_text_color: #222222;
$primary_blue: #1086C9;
$primary_grey_color: #959595;
$primary_line_color: #DDDDDD;
$primary_text_white_color: #fff;
$title_content_home_color: #063591;